<p id="notice"><%= notice %></p>

<h1>Warframe Projects</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Build Item</th>
      <th>Credit Cost</th>
      <th>Endo Cost</th>
      <th>Forma Cost</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.title %></td>
        <td><%= project.build_item %></td>
        <td><%= project.credit_cost %></td>
        <td><%= project.endo_cost %></td>
        <td><%= project.forma_cost %></td>
        <td><%= link_to 'Show', project, class: "btn btn-primary"%></td>
        <td><%= link_to 'Edit', edit_project_path(project), class: "btn btn-secondary"%></td>
        <td><%= link_to 'Destroy', project, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<a href="/projects/new" class="btn btn-success" role="button">New Project</a>
